<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfig" packages="org.apache.logging.log4j.test">
	<properties>
		<Property name="logPath">/tmp</Property>
	</properties>
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%m MDC%X%n" />
		</Appender>
		
		<RollingFile name="File" fileName="${logPath}/twm-web.log" filePattern="${logPath}/twm-web-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="File" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>